<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>USER OK LOGIN!</h1>
        <h2><i>Bienvenid@ {{datos.email}}</i></h2>
        <br>
        <h4>Dirección: {{datos.direccion}}</h4>
         <h4>Nombre: {{datos.nombre}}</h4>
          <h4>Edad: {{datos.edad}}</h4>
          <h4>Numero de telefono: {{datos.numerocel}}</h4>
        <h4>visitas: {{contador}}</h4>
        <button class="btn btn-danger my-5" onclick="location.href='/logout'">LOGOUT</button>
    </div>
</div>